<html>
<head>
  <title>Les Comments</title>
  <link href="/static/lc/stylesheets/app.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
  <link href="/static/lc/stylesheets/general_foundicons.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="/static/js/home.js" type="text/javascript"></script>
</head>
<body>
  {% include "topbar.html" %}
  <div class="row">
    <div class="two columns" id="left-bar" style="padding:10px">
      {% include "left-pad/sorting.html" %}
      {% if tags|length > 0 %}
       {% include "left-pad/tags.html" with tags=tags %}
      {% endif %}
    </div>
    <div class="seven mobile-four columns" style="padding: 2px 2px;">
  {% for header in headers %}
   {% include "main_item.html" with header=header uid=uid %}
  {% endfor %}
    </div>
    <div class="three columns" id="right-bar"></div>
  </div>
  {% include "login.html" %}
<script>
  $.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
				   });
</script>

</body>
</html>
