<a href="#" id="tagopen{{header.id}}" onclick="toggleInlineTag({{header.id}});return false;" style="margin-left:4px; font-weight:bold;text-decoration:underline;" class="lc-top-link">etiketle</a>
<div id="tagwrap{{header.id}}" style="display:inline;" class="dp-none">
  <input id="tagfield{{header.id}}" class="text">
  <a id="tagbutton{{header.id}}" href="#" onclick="tag({{header.id}});return false;" class="tiny secondary button" style="">yolla</a>
</div>
<span id="tagalert{{header.id}}" class="dp-none secondary label"></span>
