<div class="modal-container dp-none" id="login-container">
    <div class="modal" id="login-modal">
      <div class="container">
          <div class="row" style="min-width:0px;">
            <div class="six mobile-one columns" style="padding: 9px 15px;">
                <div style="text-align:center;color: #444;padding-bottom: 5px;border-bottom: solid 1px #aaa;">Login
                </div>
                <form action="" method="post">{% csrf_token %}
                    
                <div style="padding-top:5px">
                    <label style="font-weight: lighter;">nickname</label>
                    <input type="text" style="height: 22px;" name="nickname">
                </div>

                <div style="">
                    <label style="font-weight: lighter;">password</label>
                    <input type="password" style="height: 22px;" name='password'>
                </div>
                    
                <input type="submit" class="secondary small button" value="Login">
                </form>
            </div>
                
            <div class="six mobile-one columns" style="padding: 9px 15px;border-left: solid 1px #aaa;">
                <div style="text-align:center;color: #444;padding-bottom: 5px;border-bottom: solid 1px #aaa;">Register
                </div>
                    <form action="" method="post">{% csrf_token %}
                        
                    <div style="padding-top:5px">
                        <label style="font-weight: lighter;">nickname</label>
                        <input type="text" style="height: 22px;" name="rnickname">
                    </div>
                        
                    <div style="">
                        <label style="font-weight: lighter;">password</label>
                        <input type="password" style="height: 22px;" name="rpassword">
                    </div>
                        
                    <div style="">
                        <label style="font-weight: lighter;">e-mail (optional)</label>
                        <input type="text" style="height: 22px;" name="remail">
                    </div>
                    <input type="hidden" name="isRegister" value="True" />    
                        
                    <input type="submit" class="secondary small button" value="Register">
                    </form>
                </div>
            </div>
      </div>
    </div>
</div>
