<div class="row">
  <div class="twelve mobile-four columns" style="padding: 10px 10px;">
    <div class="one columns" style="text-align: center;float: left;">
      <i class="general foundicon-up-arrow" style="font-size: 20px;"></i>
      <div style="width: 100%;
		  text-align: center;
		  padding: 2px 2px;
		  font-weight: normal;
		  font-size: 16px;
		  text-shadow: 0em 0.1em white;">{{header.net_vote}}
      </div>
      <i class="general foundicon-down-arrow" style="font-size: 20px;"></i>
    </div>
    <div class="eleven columns" style="margin-top: 5px;">
      <div class="row" style="min-width: 0px;">
	<div class="twelve columns">
	  <div style="font-size: 17px;">
	    <a href="#" class="lc-top-link" style="text-decoration:underline;">{{header.title}}</a>
	    <a href="#" style="font-weight: normal;font-size: 14px;" class="lc-top-link">[{{header.domain}}]</a>
	  </div>
	  <div style="font-weight: normal;
		      margin-top: 5px;
		      font-size: 14px;
		      text-shadow: 0.1em 0.1em white;
		      ">
	    (<a href="#" style="font-weight: bold;" class="lc-top-link">{{header.num_comment}} comments</a>, submitted {{header.time}} ago by 
	    <a href="#" style="font-weight: bold;" class="lc-top-link">{{header.creator_name}}</a>)
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
