<div id="com{{c.id}}" class="comment-wrap" style="margin-left:15px;padding:5px 5px;">
{% ifnotequal c.creator_id uid %}
 <a href="#" onclick="upvote({{c.id}});return false;" style="float: left;color: gray;">
   <i id="up{{c.id}}" class="{{c.up}} general foundicon-up-arrow" style=""></i>
 </a>
 <a href="#" onclick="downvote({{c.id}});return false;" style="float: left;color: gray; margin-right:5px;">
   <i id="down{{c.id}}" class="{{c.down}} general foundicon-down-arrow" style=""></i>
 </a>
{% endifnotequal %}
 <a id="togcom{{c.id}}" href="#" style="float: left;                                        
					margin-top: 3px;margin-right: 5px; 
					text-decoration: underline;
                                        font-size: 12px; 
                                        color: royalblue;" onclick="toggleComment({{c.id}});return false;" class="comment-toggler">[kapa]</a>
 <div style="padding:3px 3px; font-size:12px !important"><div id="comvote{{c.id}}" style="font-size:12px; margin-right:2px; float:left;">[{{c.net_vote}}]</div><a href="/u/{{c.creator_id}}" id="comuser{{c.id}}" class="lc-top-link"> <strong>{{c.creator_name}}</strong></a> <l style="font-weight:lighter;">{{c.time}}</l> </div>
 <div id="comtext{{c.id}}" style="padding:3px 3px; font-size:12px !important">{{c.text}}</div>
 <div style="padding:3px 3px; font-size:12px !important">
   <a href="#" id="rpl{{c.id}}" onclick="toggleReply({{c.id}});return false;" style="font-weight:bold !important;" class="lc-top-link">cevap-yaz</a>
 </div>
 <div id="rpl-wrap{{c.id}}" class="dp-none" style="margin-bottom:10px; padding:3px 3px; font-size:12px !important">
   <textarea id="rpl-field{{c.id}}"></textarea>
   <a class="secondary small button" onclick="sendReply({{tid}},{{c.id}});return false;" style="float: right;">Yolla</a>
   <span id="rpllabel{{c.id}}" class="secondary label dp-none"></span>
 </div>
