<div class="row" id="parsed-url">
  <div class="ten columns centered" style="max-width:600px;">
    <div style="color: #444;
	        font-size: 16px;
		text-shadow: 0em 0.1em white;
		padding: 9px 0px;">
      Onerilen baslik
      <div style="font-size: 12px;display: inline-block;" id="domain-label">({{domain}})</div>
    </div>
    <input id="title-field" type="text" value="{{title}}">
    <div style="color: #444;                                                                                                                                                
                font-size: 14px;                                                                                                                                                
                text-shadow: 0em 0.1em white;                                                                                                                              
		padding: 9px 0px;">
      Haber ne anlatiyo bi ozet gecsene:
      <div style="font-size: 12px;display: inline-block;" id="rem-char">(250)</div>
    </div>
    <input id="summary-field" type="text" value="">

    <div style="font-weight:lighter;margin-bottom:10px;">
      Verdigin link suydu:
      <a href="{{url}}" target="_newtab" style="color:black !important; text-decoration:underline;">{{url_}}</a>
    </div>

    <a class="success button" id="create-button" style="float:right; text-shadow:0.1em 0.1em black;">Yarat</a>
    <a class="secondary button" id="cancel-button" style="margin-right:15px; float:right; font-weight:lighter !important; text-shadow:0.1em 0.1em white;" href="/submit">Salla</a>

  </div>
  <script>$("#create-button").click(createThread);$("#summary-field").keyup(function(){
    $("#rem-char").html("("+(250-$("#summary-field").val().length)+")");
    if( (250-$("#summary-field").val().length) < 0){
      $("#rem-char").css("color","darkred");
    }else{
      $("#rem-char").css("color","#444");
    }
    });</script>
</div>
