<div class="container">
  <div class="row lc-top-bar" style="height:44px;">
      <div class="four mobile-one columns"></div>
      <div class="four mobile-two columns lc-top-title">
	<a href="/" style="color:black;">Les Comments</a>
      </div>
      <div class="four mobile-one columns">
	{% if user.is_authenticated %}
	<a href="/logout" class="lc-top-link" style="float:right;margin-top:20px;">Cikis</a>
        <a href="#" class="lc-top-link" style="float:right;margin-top:20px;margin-right:10px">{{user.username}}</a>
	<a href="/submit" class="lc-top-link" style="float:right;margin-top:20px;margin-right:10px;font-weight:bolder !important;">Ekle</a>
	{% else %}
	<a href="#" id="login-register-button" class="lc-top-link" style="float:right;margin-top:20px;">Giris</a>
	<script>
	  $("#login-register-button").click(login);
	</script>
	{% endif %}
      </div>
  </div>
</div>
