<div class="container">
  <div class="row lc-top-bar" style="height:44px;">
      <div class="four mobile-one columns"></div>
      <div class="four mobile-two columns lc-top-title">
	Les Comments
      </div>
      <div class="four mobile-one columns">
	{% if user.is_authenticated and not loginfail %}
          Welcome {{ user.username }}
    <a href="/logout" class="lc-top-link" style="float:right;margin-top:20px;">Logout</a>
	{% else %}
          {% if loginfail %}
          Wrong username/password
          {% endif %}
	<a href="#" id="login-button" class="lc-top-link" style="float:right;margin-top:20px;">Login/Register</a>
	<script>
	  $("#login-button").click(login);
	</script>
	{% endif %}
      </div>
  </div>
</div>