{% if page == "home" and has_panel == 0 %}
<div class="panel" id="cp{{tid}}"  style="padding:10px !important; margin-bottom:0px !important; padding-bottom:20px !important; margin-top:10px; font-weight:normal; max-width:500px; font-size:12px !important;">
  <a href="#" onclick="toggleComment({{tid}});return false;" class="toggle-comment-panel" id="tcp{{tid}}" style="color: black;">
    <i id="tci{{tid}}" class="general foundicon-minus" style="float: left;"></i>
  </a>
  <div id="cpd{{tid}}" style="margin-left:15px;padding:5px 5px;">
{% else %}


{% if page == "thread" and new == 1 %}
<div class="twelve columns">
{% include "open_panel.html" %}
{% endif %}

  <div id="com{{c.id}}" style="margin-left:15px;padding:5px 5px;">
{% endif %}


  {% if page == "thread" %}
   <div style="padding:3px 3px; font-size:12px !important">[{{c.net_vote}}] <a href="#" class="lc-top-link" style="color:royalblue !important;"><strong>{{c.creator_name}}</strong></a> <l style="font-weight:lighter;">{{c.time}}</l> </div>
   <div style="padding:3px 3px; font-size:12px !important; color:royalblue !important;">{{c.text}}</div>
  {% else %}
   <div style="padding:3px 3px; font-size:12px !important">[{{c.net_vote}}] <a href="#" class="lc-top-link"><strong>{{c.creator_name}}</strong></a> <l style="font-weight:lighter;">{{c.time}}</l> </div>
   <div style="padding:3px 3px; font-size:12px !important">{{c.text}}</div>
  {% endif %}
  {% if page == "thread" %}
   <div style="padding:3px 3px; font-size:12px !important">
     <a href="#" id="rpl{{c.id}}" onclick="toggleReply({{c.id}});return false;" style="font-weight:bold !important;" class="lc-top-link">cevap-yaz</a>
   </div>
   <div id="rpl-wrap{{c.id}}" class="dp-none" style="margin-bottom:10px; padding:3px 3px; font-size:12px !important">
     <textarea id="rpl-field{{c.id}}"></textarea>
     <a class="secondary small button" onclick="sendReply({{tid}},{{c.id}});return false;" style="float: right;">Yolla</a>
     <span id="rpllabel{{c.id}}" class="secondary label dp-none"></span>
   </div>
  {% endif %}

  </div>


{% if page == "thread" and new == 1 %}
</div>
</div>
{% endif %}


{% if page == "home" and has_panel == 0 %}
</div>
{% endif %}
